@media only screen and (min-width: 35rem) {
    header img {
        width: 90px;
        height: auto;
    }

    .motto {
        font-size: larger;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }


    .navigation li:first-child {
        display: none;
    }

    main {
        max-width: 775px;
        margin: auto;
    }

    footer {
        max-width: 825px;
        margin: auto;
    }
}