@media only screen and (min-width: 35rem) {
   
    .navigation {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
    }

    
    
    .navigation li:first-child {
        display: none;
    }
    
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
        background-color: #3c493f;
        margin: 45px auto;
        
    }
    
    .menu {
        background-color: #04151F;
    }

    .page-title {
        margin: -5px auto;
    }

    .page-content {
        max-width: 500px;
        margin: auto;
    }

    .guide-action {
        background-color: #3c493f;
        color: white;
        max-width: 800px;
        padding: 20px 0;
        margin: auto;
    }
    
    .guide-section {
        display: flex;
        max-width: 800px;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
    }
    
    .guide-desc {
        text-align: left;
        flex: 1 1 100%;
    }
    
    .guide-image {
        padding: 0px 0 0 20px;
        width: auto;
        height: 300px;
    }

    .thanks {
        margin-top: 220px;
    }

    .contact {
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .contact-info {
        margin-right: 20px;
    }

    form {
        flex: 1 1 100%;
    }

    fieldset {
        width: 100%;
    }

    .banner img {
        margin-top: 100px;
    }
}