body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1, h2 {
    font-family: 'Baloo 2', cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #04151F;
    color: white;
    width: 100%;
}

.logo {
    border-radius: 40%;
    background-color: white;
    margin: 1.5rem;
}

.title {
    display: flex;
}

.title h1 {
    margin-top: 50px;
}

.navigation {
    list-style: none;
    text-align: right;
    position: absolute;
    margin-top: -47px;
    right: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
}

.navigation a:hover {
    color: #cb9c31;
}

.active {
    text-decoration: underline;
}

.responsive li {
    display: block;
    background-color: #3c493f;
    margin-left: -45px;
}

.menu {
    background-color: #04151F;
}

main {
    margin-top: 100px;
}

.banner {
    width: 100%;
}

.page-title {
    background-color: #CC5803;
    padding: 1.5rem 1rem;
    margin: -5px 0px 0px 0px;
}

.action {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    background-color: #CC5803;
    max-width: 250px;
}

.action a:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.action a {
    display: block;
    text-decoration: none;
    padding: 1.5rem 1rem;
    color: black;
}

.service-desc, .guide-desc, table {
    padding: 1.5rem 1rem;
}

.service-img {
    width: 100%;
}

td {
    padding: 0px .75rem 0px .75rem;
    border-left: 2px solid white;
}

table {
    background-color: #3c493f;
    color: white;
    margin-top: -4px;
    width: 100%;
}

table h2 {
    padding-right: 20px;
}

.guide-action {
    background-color: #3c493f;
    color: white;
    width: 100%;
    padding: 20px 0;
}

.guide-section {
    background-color: #04151F;
    padding: 20px;
    margin: 20px;
}

.guide-desc {
    background-color: lightgray;
    margin: 40px;
}

.guide-image {
    padding-top: 25px;
}

footer {
    background-color: #04151F;
    color: white;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: white;
}

.social-media {
    width: 30px;
    height: auto;
    padding-left: 5px;
}

.social-media-div {
    margin-left: 20px;
}
