@media only screen and (min-width: 64rem) {

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery p {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .gallery picture:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    main {
        max-width: 800px;
    }

    footer {
        max-width: 850px;
    }
}