@media only screen and (min-width: 64rem) {

    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .towns img {
        float: none;
        margin: 0px;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .town-info {
        margin-left: 0px;
        text-align: center;
    }

   .town-motto {
       margin-bottom: 0px;
   }

   section:nth-child(3) img {
       margin-top: -20px;
   }

    main {
        max-width: 800px;
    }

    footer {
        max-width: 850px;
    }
}